<div class=index>
<h1>Books</h1>
<div class=midashi>
    <p class="midashi-Title">Title</p>
    <p class="midashi-body">Body</p>
</div>
<div class="book-wrap">
<% @books.each do |book| %>
  <div class="book-box">
    <div class="book-comment">
      <span class="book-title"><%= book.title %></span>
      <span class="book-body"><%= book.body %></span>
      <span class="book-show"><%=link_to "show", book_path(book.id) %></span>
      <span class="book-Edit"><%=link_to "Edit", edit_book_path(book.id) %></span>
      <span class="book-Destroy"><%=link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></span>
    </div>
  </div>
<% end %>
</div>

<h2>New book</h2>
<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book, url: '/books', method: :post do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>body</p>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>

</div>