<h1>Books</h1>
<div class="book-wrap">
<% @books.each do |book| %>
  <div class="book-box">
    <div class="book-comment">
      <span class="book-title"><%= book.title %></span>
      <span class="book-body"><%= book.body %></span>
      <span class="book-show"><%=link_to "show", book_path(book.id) %></span>
      <span class="book-Edit"><%=link_to "Edit", edit_book_path(book.id) %></span>
      <span class="book-Destroy"><%=link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></span>
    </div>
  </div>
<% end %>
</div>
